services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-wallet_user} -d ${POSTGRES_DB:-wallet_db}"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: sh -c "/wait-for-db.sh db python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    # command: sh -c "/wait-for-db.sh db python manage.py migrate && gunicorn --bind 0.0.0.0:8000 --workers 3 wallet_api.wsgi:application"
    volumes:
      - .:/app
    ports:
      - "3000:8000"
    environment:
      - DEBUG=${DEBUG}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:


